body {
    font-family: sans-serif;
}
header{
background-color: royalblue;
}
footer{
    background-color: royalblue;
}
main{
    background-color: skyblue;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
}
body{
    background-color: royalblue;
}
.gpt{
    
    bottom: 300px;
    right: 200px;
    display: flex;
    justify-content: center;
}

.pro{
    text-align: center;

}

.pro img:hover{
    text-align: center;
    width: 170px;
    height: 140px;
    transition: 0.5s ease-out;
}

.ok{
    bottom: 15px;
}
header{
  text-align: center;
  height: 80px;
  text-decoration: none;
  position: fixed;
  width: 100%;
      z-index: 1;

   align-items: center;

   top: 0px;
   left: 0px;
} 

header img{
    padding: 10px;
}

nav a{
    background-color: azure;
    border-radius: 10px;
    margin: 1px;
    padding: 10px;
    position: relative;
    left: 40px;
    top: 30px;
    text-decoration: none;
}

.ilka{
 position: absolute;
 left: -10px;
}
